@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-color: rgb(250, 225, 225); /*background-color*/
  --hero-button: rgb(110, 58, 255); /* hero section button*/
  --hero-section: #00d2ff; /*hero-section*/
  --card-background: rgb(244 239 255);
  --card-fcolor: rgb(0, 0, 0); /*all font color*/
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(20, 20, 20); /* একদম কালো না দিয়ে হালকা কালো */
    --hero-button: rgb(110, 58, 255);
    --hero-section: #1c6778;
    --card-background: rgb(20, 20, 20); /* ডার্ক কার্ড ব্যাকগ্রাউন্ড */
    --card-fcolor: #ffffff; /* সাদা লেখা */
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  background-color: var(--bg-color);
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 20px; /* ডানে বামে ৫০ পিক্সেল গ্যাপ তৈরি হবে */
  background-color: var(--card-background); /*ন্যাপবারটি আলাদা বোঝানোর জন্য */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav .menu {
  display: flex;
  /* gap: 90px; */
  column-gap: 40px;
}
nav .logo {
  color: var(--card-fcolor);
}
nav h2 {
  cursor: pointer;
}
.menu a {
  height: 100%;
  padding: 10px;
  text-decoration: none;
  color: var(--card-fcolor);
}
.menu a:hover {
  background-color: #fff1f1;
  color: rgb(255, 114, 114);
  transition: 0.4s cubic-bezier(0, 0, 0.25, 1.07);
}
#check {
  display: none;
}
.checkbtn {
  font-weight: bold;
  color: var(--card-fcolor);
  display: none;
  cursor: pointer;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.hero-content {
  color: var(--card-fcolor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: var(--hero-section);
  gap: 20px;
}
.hero-content h1 {
  font-size: 36px;
  padding: 0.2em;
}
.hero-content p {
  font-size: 20px;
  padding: 0.3em;
}
.hero-content .button {
  display: inline-block;
  height: 50px;
  width: 150px;
  background-color: var(--hero-button);
  color: var(--card-fcolor);
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 0.5em;
}
.card-wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-container {
  color: var(--card-fcolor);
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--card-background);
  padding: 1.5em;
  font-size: 20px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  gap: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease;
  margin-top: 50px;
}
.card-container .button {
  color: var(--card-fcolor);
  display: inline-block;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--hero-section);
  border: none;
  border-radius: 50px;
  padding: 15px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.card-container .button:hover {
  background-color: #ffa631;
}
.button {
  text-decoration: none;
}
.card-pic img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: var(--hero-section);
  padding: 2px;
  object-fit: cover;
}
.card-information h1 {
  font-size: 30px;
  font-weight: 500;
}
.card-information p {
  font-weight: 300;
}
.card-container:hover {
  transform: translateY(-20px);
}

.price-container .yearly {
  display: none;
}
#price-switch {
  display: none;
}
#price-switch:checked ~ .price-container .monthly {
  display: none;
}

#price-switch:checked ~ .price-container .yearly {
  display: block;
}

.toogle-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
  margin-bottom: 30px;
}
.toogle-area span {
  font-weight: 700;
}

.toogle-area .switch-ui {
  display: block;
  height: 25px;
  width: 50px;
  background-color: #10839d;
  border-radius: 25px;
  position: relative;
}
#price-switch:checked ~ .toogle-area .switch-ui::after {
  transform: translateX(25px);
}
#price-switch:checked ~ .toogle-area .switch-ui {
  background-color: #6e3aff;
}
.switch-ui::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: white;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}
.price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px;
  /* position: relative;
  top: 25px; */
}
.price-container .basic {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  /* height: 500px; */
  width: 300px;
  padding: 50px;
  background-color: var(--card-background);
  box-shadow: 5px 5px 20px 0px;
  margin-bottom: 50px;
  border-radius: 15px;
}
.price-container .basic .bbtn {
  color: var(--card-fcolor);
  display: inline-block;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--hero-section);
  border: none;
  border-radius: 50px;
  padding: 15px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.basic .bbtn:hover {
  background-color: beige;
}
.price-container .featured {
  transform: scale(1.3);
  box-shadow: 0px 3px 20px 0px rgb(255, 92, 92);
  background-color: rgb(255, 210, 218);
  position: relative;
  z-index: 2;
}
/* .price-container .featured .mbtn{
  background-color: #ff9fe9;
} */
.price-container .featured .mbtn:hover{
 background-color: #ff9fe9;
}
footer {
  text-align: center;
  background-color: var(--card-background);
  color: var(--card-fcolor);
  padding: 20px;
  margin-top: auto;
}

@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }

  .menu {
    position: fixed;
    height: 50vh;
    width: 50%;
    padding-top: 50px;
    background-color: rgba(251, 202, 202, 0.8);
    backdrop-filter: blur(8px);
    top: -100vh;
    right: 0;
    text-align: center;
    flex-direction: column;
    /* background-color: var(--card-background); */
    transition: all 0.3s;
  }
  #check:checked ~ .menu {
    top: 100px;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .hero-content p {
    text-align: center;
    font-size: 18px;
    padding: 0 25px;
    line-height: 1.5;
  }
  .price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .price-container .featured {
    transform: scale(1);
    z-index: 0;
    width: 300px;
  }
}
