@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
body {
  background-color: rgb(250, 225, 225);
  min-height: 100vh;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px; /* ২. ডানে বামে ৫০ পিক্সেল গ্যাপ তৈরি হবে */
  background-color: white; /* ৩. ন্যাপবারটি আলাদা বোঝানোর জন্য */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
nav .menu {
  display: flex;
  /* gap: 90px; */
  column-gap: 40px;
}
nav h2{
  cursor: pointer;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: rgb(255, 114, 114);
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: #ffc476;
  gap: 20px;
}
.hero-content .button{
  display: inline-block;
  height: 50px;
  width: 100px;
  background-color: rgb(110, 58, 255);
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 20px 20px;
}
.card-wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  padding: 25px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
  gap: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease;
  margin-top: 50px;
}
.card-container .button {
  display: inline-block;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 600;
  background-color: #ffc476;
  border: none;
  border-radius: 50px;
  padding: 15px;
  transition: background-color 0.3s ease-in;
  cursor: pointer;
}
.card-container .button:hover {
  background-color: #ffa631;
}
.button {
  text-decoration: none;
}
.card-pic img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #ffc476;
  padding: 2px;
  object-fit: cover;
}
.card-information h1 {
  font-size: 30px;
  font-weight: 500;
}
.card-information p {
  font-weight: 300;
}
.card-container:hover {
  transform: translateY(-20px);
}
footer{
  text-align: center;
  background-color: #000;
  color: white;
  padding: 20px;
  margin-top: auto;
}